repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: ^src/lib/
      - id: end-of-file-fixer
        exclude: ^src/lib/
      - id: trailing-whitespace
        exclude: ^src/lib/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        # Mypy is slow, so we run it manually or in CI.
        # To run it on every commit, remove the `stages` line.
        stages: [manual]
        additional_dependencies: ["types-requests"]
