[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ruff = "*"
mypy = "*"
pre-commit = "*"
adafruit-circuitpython-typing = "*"
coverage = "*"
vulture = "*"
rcssmin = "*"
rjsmin = "*"
htmlmin2 = "*"
beautifulsoup4 = "*"
circup = "*"
pylint = "*"
pylint-sort-functions = "*"

[requires]
python_version = "3.14"
