# Required CircuitPython libraries for WICID
# Install using:
# circup install -r wicid_circuitpy_requirements.txt

adafruit_pixelbuf==2.0.10
adafruit_connection_manager==3.1.6
adafruit_requests==4.1.15
adafruit_ticks==1.1.5
adafruit_datetime==1.4.4
neopixel==6.3.18
adafruit_ntp==3.3.5
async_button==1.2.3
adafruit_hashlib==1.4.20
adafruit_wsgi==3.0.3
adafruit_httpserver==4.7.1
asyncio==3.0.3
